# 리스트
* 튜플은 값 변경이 x 
* 리스트 값 변경이 o
- append(), extend(), insert(), pop(), remove(), clear(), reverse(), sort()

In [15]:
A= [1,1.234,'a','abc',(123,1),[1,2.3]]
A

[1, 1.234, 'a', 'abc', (123, 1), [1, 2.3]]

In [16]:
type(A)

list

In [17]:
ls = [1,2,3,4]

In [18]:
a,b,c,d=ls  #unpacking은 가능하다..
print(a,b,c,d)

1 2 3 4

In [19]:
# 튜플은 값 변경이 x , 리스트 값 변경이 o
ls[0] = 5 
print(ls)

[5, 2, 3, 4]

In [20]:
ls[1:3] = 6,7
print(ls)

[5, 6, 7, 4]

In [21]:
for i in ls:
    print(i)

5
6
7
4

In [22]:
for i in range(len(ls)):#0~3
    print(ls[i])

5
6
7
4

In [38]:
ls = [1,2,3,4]
ls

[1, 2, 3, 4]

## .append()

In [39]:
#맨 뒤에 숫자가 차곡 차곡 추가된다.

ls.append(5) 
print(ls)

[1, 2, 3, 4, 5]

In [40]:
ls.append(6) 
ls

[1, 2, 3, 4, 5, 6]

In [41]:
ls.append([6,7]) 
ls

[1, 2, 3, 4, 5, 6, [6, 7]]

In [42]:
# append는 괄호를 튜플로 인식해서 튜플형태로 list에 추가된다.
ls.append((6,7)) 
ls

[1, 2, 3, 4, 5, 6, [6, 7], (6, 7)]

## .extend()

In [43]:
ls.extend((6,7)) # 연속된 여러개의 숫자를 앞에서부터 추가시킨다.
print(ls)

[1, 2, 3, 4, 5, 6, [6, 7], (6, 7), 6, 7]

## .insert()

In [48]:
ls.insert(0,0) #.insert(인덱스,값) - 그 인덱스에 추가적으로 값이 들어간다.
print(ls)

[0, 1, 2, 3, 4, 5, 6, [6, 7], (6, 7), 6, 7]

In [49]:
ls.insert(10,8) #앞의 인덱스 없을경우 맨 뒤에 추가적으로 값을 넣어준다.
print(ls)

[0, 1, 2, 3, 4, 5, 6, [6, 7], (6, 7), 6, 8, 7]

## .pop

In [50]:
print(ls.pop(8)) #숫자 하나 자르기
print(ls)

(6, 7)
[0, 1, 2, 3, 4, 5, 6, [6, 7], 6, 8, 7]

## .remove()

In [51]:
ls.remove(5)#값으로 지우기
print(ls)

[0, 1, 2, 3, 4, 6, [6, 7], 6, 8, 7]

## clear()

In [52]:
ls.clear() #리스트 전체 초기화
print(ls)

[]

In [53]:
ls = [9,1,5,3,7,8,2,4,6]

print(ls)

[9, 1, 5, 3, 7, 8, 2, 4, 6]

## .reverse()

In [54]:
ls.reverse() #거꾸로
print(ls)

[6, 4, 2, 8, 7, 3, 5, 1, 9]

## .sort()

In [55]:
ls.sort(reverse=True) #내림차순
print(ls)

ls.sort() #오름차순 : sort()의 기본값 오름차순
print(ls)

[9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

# 퀴즈

In [69]:
menu = [['칼국수', 6000], ['비빔밥', 5500], ['돼지국밥', 7000], 
['돈까스', 7000], ['김밥', 2000], ['라면', 2500]]

In [70]:
# 위의 리스트 구조를 보고 아래에서 요구하는 결과가 반영 되도록 코드를 작성 하시오.

# 비빔밥과, 돈까스의 가격을 출력 하시오.

for i in menu:
    if i[0] == '비빔밥':
        print(f'{i[0]}:{i[1]}원')
    elif i[0] == '돈까스':
         print(f'{i[0]}:{i[1]}원')
            
# or 
print("{} : {}원".format(menu[1][0],menu[1][1]))
print("{} : {}원".format(menu[3][0],menu[3][1]))

비빔밥:5500원
돈까스:7000원
비빔밥 : 5500원
돈까스 : 7000원

In [71]:
# 사용자 입력으로 메뉴와 가격을 입력 받아 menu 변수에 자료를 추가하는 
# 코드를 작성 하시오.
m = input('메뉴:')
p = int(input('가격'))
menu.append([m,p])
menu

메뉴:스파게티
가격12000

[['칼국수', 6000],
 ['비빔밥', 5500],
 ['돼지국밥', 7000],
 ['돈까스', 7000],
 ['김밥', 2000],
 ['라면', 2500],
 ['스파게티', 12000]]

In [76]:
# 사용자 입력으로 메뉴와 가격을 입력 받아 menu 변수에 자료를 추가 할 때 
# 기존에 동일한 메뉴가 존재하는 경우 가격만 변경 되도록 코드를 작성 하시오.
m = input('메뉴:')
p = int(input('가격'))

check = True
for i in menu:

    if i[0] == m:#동일한 메뉴가 있을때 가격 변경해주기
        i[1] = p
        check = False
        break

if check:
    #동일한 메뉴가 없을때 그냥 추가시켜주기
    menu.append([m,p])
print(menu)

메뉴:김밥
가격3500
[['칼국수', 6000], ['비빔밥', 5500], ['돼지국밥', 7000], ['돈까스', 7000], ['김밥', 3500], ['라면', 2500], ['스파게티', 12000]]

In [74]:
# 메뉴를 자동으로 선택하여 출력하는 코드를 작성 하시오.
import random
rand = int(random.random() * len(menu))

print("{} : {}원".format(menu[rand][0],menu[rand][1]))

돼지국밥 : 7000원

In [77]:
ls = [[0,0,0,0,0],
    [0,0,0,0,0],
    [0,0,0,0,0],
    [0,0,0,0,0],
    [0,0,0,0,0]]

In [ ]:
i = 1
while i<=25:
    a = int(random.random() * 5)#0 0 0 0
    b = int(random.random() * 5)#0 1 0 2

    #a인덱스 b인덱스 뽑힌 안의 공간의 값이 0일때
    #그 인덱스에 i의 값을 넣어주고 i를 하나씩 증가
    if ls[a][b] == 0 :
        ls[a][b] = i #0 0 : 1 # 0 1 : 2 # 0 2 : 3
        i+=1
for i in range(5):
    for j in range(5):
        print(ls[i][j],end="\t")
    print()