# 튜플

In [1]:
#튜플

tp = 1,2,3,4,5

In [3]:
print(type(tp))
tp

<class 'tuple'>

(1, 2, 3, 4, 5)

In [4]:
for i in tp:
    print(i)

1
2
3
4
5

In [6]:
tp = 1,2,3,4,5 # packing
tp

(1, 2, 3, 4, 5)

In [7]:
a,b,c,d,e = (1,2,3,4,5) #unpacking

In [11]:
a,b,c,d,e = tp #unpacking

In [12]:
tp = ((1,2),(1,2,3),(1,2))
print("-----------------")
print(tp[0][0])
print(tp[1][1])
print("-----------------")
for i in tp:
    for j in i:
        print(j)

-----------------
1
2
-----------------
1
2
1
2
3
1
2

In [13]:
tp = (1,1,2,2,2,3,3,3,3)

print(tp.count(3))#원하는 숫자의 개수를 세주는 함수

print(tp.index(1))#원하는 숫자의 시작 인덱스 번호를 알려주는 함수

print(tp.__len__())#튜플 안에 담긴 숫자의 개수

print(tp.__sizeof__())#튜플 안에 크기( 컴퓨터가 할당 )

print(tp.__str__()) #문자열 형태로 전부 반환 출력해준다.

4
0
9
96
(1, 1, 2, 2, 2, 3, 3, 3, 3)

In [15]:
menu = (('칼국수', 6000),
       ('비빔밥', 5500),
       ('돼지국밥', 7000),
       ('돈까스', 7000),
       ('김밥', 2000),
       ('라면', 2500))

In [25]:
menu[0]

('칼국수', 6000)

In [27]:
menu[0][1]

6000

In [19]:
# 위의 튜플 구조를 보고 아래에서 요구하는 값을 출력하는 코드를 작성 하시오.
# 김밥과, 라면의 가격을 각각 출력 하시오
print('김밥의 가격은',menu[4][1],'입니다')
print('라면의 가격은', menu[5][1],'입니다')

# or
print(f'{menu[4][0]}:{menu[4][1]}원')
print(f'{menu[5][0]}:{menu[5][1]}원')

김밥의 가격은 2000 입니다
라면의 가격은 2500 입니다
김밥:2000원
라면:2500원

In [29]:
# 가격이 7000에 해당하는 메뉴를 출력 하시오.
print(f'7000원: {menu[2][0]},{menu[3][0]}')

# for문 사용

for i in range(len(menu)):
    if menu[i][1] == 7000:
        print(f'{menu[i][0]}:{menu[i][1]}원')
        
# or 

for i in menu:
    if i[1]==7000:
        print(f'{i[0]}: {i[1]}원')

7000원: 돼지국밥,돈까스
돼지국밥:7000원
돈까스:7000원
돼지국밥: 7000원
돈까스: 7000원

In [30]:
# 가격이 6000원 이하인 메뉴를 출력 하시오.
for i in menu:
    if i[1] <=6000:
        print(f'{i[0]}: {i[1]}원')

칼국수: 6000원
비빔밥: 5500원
김밥: 2000원
라면: 2500원

In [32]:
# 사용자 입력으로 메뉴를 입력 받아 해당하는 메뉴의 가격을 출력하시오.

user = input('메뉴를 입력하시오')
for i in menu:
    if i[0]==user:
        print(i[1])

메뉴를 입력하시오칼국수
6000

In [38]:
a = [1,1.234,'a','abc',(123,1),[1,2.3]]
a

[1, 1.234, 'a', 'abc', (123, 1), [1, 2.3]]